<nav id="mobile-nav">
  <div id="mobile-nav-inner">
    <ul id="mobile-nav-list">
      {{ header_menu('mobile-nav') }}
      <li class="mobile-nav-item">
        <a href="{{ config.repo_url }}" class="mobile-nav-link" rel="external" target="_blank">GitLab</a>
      </li>
    </ul>
    {% if page.layout == 'page' %}
      {{ doc_sidebar('mobile-nav') }}
    {% endif %}
  </div>
</nav>
