layout: index
description: Task Master - Tools for executing several tasks in a sequential fashion
subtitle: Process several tasks in a sequential fashion and then receive results of all tasks in a single place.
comments: false
install: composer require theshopworks/task-master

---
